node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log
package-lock.json
yarn.lock
.pnpm-debug.log

.next
out

.DS_Store
*.swp
*.swo
.idea
.vscode
*.iml

*.log
logs
*.pid
*.seed
*.pid.lock


.git
.gitignore

coverage
.env.test

.dockerignore
Dockerfile

.env.local
.env.development
