@import "tailwindcss";

body {
  background-color: #f1e8df;
  font-family: Arial, Helvetica, sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type="color"] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

.transition500 {
  transition: 0.5s ease-in-out;
}

.break-word {
  overflow-wrap: anywhere;
}

.fade-in-up {
  animation: fadeInUp 0.7s ease-out forwards;
}

.serra {
  background-image: repeating-linear-gradient(
      45deg,
      #000000,
      #000000 1px,
      transparent 1px,
      transparent 20px
    ),
    repeating-linear-gradient(
      -45deg,
      #000000,
      #000000 1px,
      transparent 1px,
      transparent 20px
    );

  animation: moveBackground 20s linear infinite;
}

.float {
  animation: moveFloat 2s ease-in-out infinite;
}

.loading {
  animation: moveLoading 1s ease infinite;
}

.openNotification {
  animation: slideIn 0.5s ease-out forwards, slideOut 0.5s ease-in forwards 3.5s;
}

.closeNotification {
  animation: slideOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  25% {
    background-color: #7d0a9d;
  }
  50% {
    background-color: #02b57f;
  }
  100% {
    background-position: -40px -400px;
  }
}

@keyframes moveFloat {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes moveLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideIn {
  from {
    left: -400px;
  }
  to {
    left: 20px;
  }
}

@keyframes slideOut {
  from {
    left: 20px;
  }
  to {
    left: -400px;
  }
}
